.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0;
}

.txt-a-propos {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.photo {
    object-fit: contain;
    margin-left: 200px;
    border-radius: 20px;
}

.cv {
    width: 30%;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #807559;
    font-family: 'dongleregular';
    color: white;
    font-size: 1.5rem;
}

.cv:hover {
    color: black;
    background-color: #A4B494;
    border-radius: 20px;
}