.intro {
    margin: 60px 0;
}

.intro-margin {
    margin: 40px 0
}

.liens {
    text-decoration: none;
    color: #A4B494;
}

.liens:hover {
    color: #807559;
}

.photo {
    object-fit: contain;
    width: 300px;
    height: 447px;
    margin-left: 10px;
    border-radius: 20px;
}