#main-header {
    background-color: #A4B494;
    position: sticky;
    top: 0;
    border-radius: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    padding: 10px 0;
}

#main-header p {
    color: black;
}

#main-nav a {
    display: block;
    color: black;
    font-family: 'dongleregular';
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0 10px;
}

#main-nav a:hover {
    color: black;
    background-color: #007A56;
    border-radius: 20px;
    margin-bottom: -10px;
}

#main-nav a:active {
    text-decoration: underline;
}

.flex-menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#main-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligne les éléments à droite */
}

.num, .mail {
    padding: 0 10px;
}

.font-size-menu {
    font-size: 2rem;
}

/* Si tu veux aussi ajouter un peu d'espace entre les éléments du contact */
.contact-info > div {
    margin-bottom: 10px;
}

/***********
ANCRE MENU
***********/
#a-propos {
    scroll-margin-top: 183px;
}

#competences {
    scroll-margin-top: 183px;
}

#projets {
    scroll-margin-top: 183px;
}

#parcours {
    scroll-margin-top: 183px;
}