.flex-parcours {
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-evenly;
    border: 5px solid #A4B494;
    border-radius: 20px;
    padding: 10px 0 ;
    text-align: center;
}

.bottom-padding {
    padding-bottom: 40px;
}

.top-padding {
    padding-top: 40px;
}