.projects-flex-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding: 40px;
}

.flex-projet {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-evenly;
    margin: 0 10px;
    border: 5px solid #A4B494;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.bord-arrondi {
    border-radius: 20px;
}


.x {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
