.projects-flex-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}

.bord-arrondi {
    border-radius: 20px;
}

.flex-projet {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-evenly;
    border: 5px solid #A4B494;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

@media (max-width: 1240px) {
    .projects-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
